/*imports*/
@import "variables";
/*import arabic Google Font*/
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

/*Style*/
.welcome-page {
  /*TOP NAVBAR*/
  .main-navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo-container {
      .logo {
        max-width: 80px;
        height: auto;
        width: 100%;
      }
    }
    .social-container {
      display: flex;
      .social-list {
        align-self: center;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 5px;
          a {
            display: block;
            border: 1px solid $gray_border;
            padding: 12px;
            line-height: 100%;
            border-radius: 50%;
            img {
              display: block;
              vertical-align: middle;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .welcome-title {
    text-align: center;
    color: $gray_font;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .welcome-subtitle {
    text-align: center;
    color: $gray_font;
    font-size: 16px;
  }
  /*Cards*/
  .card-wrapper {
    .MuiGrid-container {
      .MuiGrid-item {
        .MuiPaper-root {
          border-top: 6px solid #707070;
          .MuiCardContent-root {
            padding-top: 25px;
            span.MuiSkeleton-circle {
              background-color: #D1E8FF;
            }
            p {
              font-family: "Manrope", sans-serif;
              font-size: 14px;
              line-height: 23px;
              letter-spacing: .245px;
            }
          }
          .MuiCardActions-root {
            button {
              display: block;
              width: 100%;
              border: 1px solid #367EE0;
              padding: 12px 15px;
              border-radius: 50px;
              margin: 10px;
              color: #367EE0;
              &:hover {
                background-color: #367EE0;
                color: #fff;
              }
            }
          }
        }
      }
      &>.MuiGrid-item:nth-child(2) {
        .MuiPaper-root {
          span.MuiSkeleton-circle {
            background-color: #FFD1D3;
          }
          .MuiCardActions-root {
            button {
              display: block;
              width: 100%;
              border: 1px solid #E23B42;
              padding: 12px 15px;
              border-radius: 50px;
              margin: 10px;
              color: #E23B42;
              &:hover {
                background-color: #E23B42;
                color: #fff;
              }
            }
          }
        }
      }
      &>.MuiGrid-item:nth-child(3) {
        .MuiPaper-root {
          span.MuiSkeleton-circle {
            background-color: #A6ECD7;
          }
          .MuiCardActions-root {
            button {
              display: block;
              width: 100%;
              border: 1px solid #11B683;
              padding: 12px 15px;
              border-radius: 50px;
              margin: 10px;
              color: #11B683;
              &:hover {
                background-color: #11B683;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
/*PATIENT POPUP*/
.patientForm, .informer {
  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.27);
  }
  .MuiDialog-container {
    .MuiPaper-root {
      -webkit-box-shadow: 0 0 35px 1px rgba(0,0,0,0.1);
      -moz-box-shadow: 0 0 35px 1px rgba(0,0,0,0.1);
      box-shadow: 0 0 35px 1px rgba(0,0,0,0.1);
      .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid #CECECE;
        h4 {
          color: #93A2A8;
          font-size: 14px;
          align-self: center;
          text-transform: uppercase;
        }
        button {
          color: #93A2A8;
          font-size: 16px;
          line-height: 19px;
          border: 1px solid #CECECE;
          border-radius: 50px;
          height: 35px;
          width: 35px;
          font-family: "Manrope", sans-serif;
          align-self: center;
        }
      }
      .modal-content {
        padding: 20px;
        .personnal-question-title {
          color: #596377;
          font-size: 22px;
          font-family: "Manrope", sans-serif;
          font-weight: bold;
          margin: 28px 0;
        }
        .form-title {
          color: #596377;
          font-size: 22px;
          font-family: "Manrope", sans-serif;
          font-weight: bold;
          margin: 28px 0;
        }
        .question-list {
          h4 {
            color: #596377;
            font-size: 22px;
            font-family: "Manrope", sans-serif;
            font-weight: bold;
            margin: 28px 0;
          }
          .question-item {
            margin: 10px 0;
            border-bottom: 1px solid rgba(206, 206, 206, 0.20);
          h5 {
              font-family: "Manrope", sans-serif;
              font-size: 16px;
              color: #596377;
              font-weight: normal;
              margin-bottom: 6px;
            }
            .arabic-question {
              font-family: 'Tajawal', sans-serif;
              font-size: 18px;
              text-align: right;
              margin-bottom: 6px;
              color: #596377;
            }
          }
        }
        .action-buttons {
          text-align: center;
          button {
            border-radius: 50px;
            padding: 10px 30px;
            margin: 12px;
          }
          .cancel {

          }
          .submit {
            background-color: #11B683;
            box-shadow: none;
          }
        }

      }
    }
  }
}
/*INFORMANT POPUP*/
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.browse-wrapper {
  width: 100%;
  display: block;
  .browse-file {
    border-radius: 50px;
    padding: 16px 35px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #5c616e;
    img {
      padding-right: 10px;
    }
  }
}