//

.dashboard {
  header {
    text-align: center;
    margin: 50px 0 32px 0;

    h2 {
      font-size: 22px;
      margin-bottom: 8px;
    }

    button {
      margin: 32px 0 8px 0;
      border-radius: 32px;
      background: #fff;
      color: #000;
      padding: 16px 32px;
    }
  }
  .columns {
    margin-top: 32px;
    .single-column {
      border: 1px solid #ccc;
      border-radius: 4px;

      .patients {
        max-height: 480px;
        overflow: auto;
      }

      &.non-traité {
        border-top: 5px solid #ffc107;
      }
      &.en-cours-de-traitement {
        border-top: 5px solid #03a9f4;
      }
      &.traité {
        border-top: 5px solid #673ab7;
      }
    }

    .column-title {
      padding: 16px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }
  }

  .single-patient {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
  }
}

.claim-dialog {
  button {
    border-radius: 24px;
  }

  &-form,
  &-questions {
    padding: 32px;
  }

  &-questions {
    background: #9e9e9e29;
    max-height: 550px;
    overflow: auto;
    h3 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .single-question {
      margin: 8px 0;

      button,
      .question-textfield {
        margin: 8px 0 16px 0;
      }

      .question-textfield {
        background: #fff;

        input {
          color: black;
        }
      }
    }
  }

  &-user-info {
    margin-bottom: 16px;

    span {
      font-weight: bold;
    }
  }

  &-message {
    padding: 16px;
    margin: 16px 0;
    background: #9e9e9e29;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }

  .stable {
    &-active {
      background: #11b683;
      color: #fff;
      border-color: #fff;
    }
  }
  .urgent {
    &-active {
      background: orange;
      color: #fff;
      border-color: #fff;
    }
  }
  .critique {
    &-active {
      background: #e23b42;
      color: #fff;
      border-color: #fff;
    }
  }

  .issent {
    &-content {
      text-align: center;
      padding: 32px;
    }
    &-actions {
      padding: 32px;
      text-align: center;

      &-btn {
        background: green;
        color: #fff;
      }

      button {
        margin: 0 8px;
      }
    }
  }

  .select-response {
    margin-bottom: 16px;
    max-width: 250px;
  }
  .text-response {
    background: #fff;
  }
  .conditions {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
  }

  .Ellipse {
    font-size: 70px;
    border: none;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -0.6em;
    margin-top: -0.5em;
    padding: 0;
    cursor: pointer;
    color: #767f8e;
  }
  .send {
    font-size: 70px;
    border: none;
    position: absolute;
    top: 32%;
    left: 50.5%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #767f8e;

    h2 {
      margin-top: 150px;
    }
  }
  .sms {
    text-align: center;
  }
}
